{% extends 'employee/base.html' %}
{% block page_title %}My Profile{% endblock %}

{% block content %}

<!-- PROFILE HEADER -->
<div class="profile-header card">

    <div class="profile-left">
        {% if profile.profile_image %}
            <img src="{{ profile.profile_image.url }}" class="profile-img">
        {% else %}
            <div class="profile-avatar">
                {{ request.user.username|slice:":1"|upper }}
            </div>
        {% endif %}
    </div>

    <div class="profile-info">
        <h2>
            {{ request.user.get_full_name|default:request.user.username }}
        </h2>
        <p class="designation">{{ profile.designation }}</p>
        <p class="department">{{ profile.department }} Department</p>
    </div>

</div>


<!-- DETAILS GRID -->
<div class="profile-grid">

    <!-- PERSONAL INFO -->
    <div class="card profile-card">
        <h3>👤 Personal Information</h3>
        <div class="info-row">
            <span>Email</span>
            <strong>{{ request.user.email }}</strong>
        </div>
        <div class="info-row">
            <span>Username</span>
            <strong>{{ request.user.username }}</strong>
        </div>
    </div>

    <!-- WORK INFO -->
    <div class="card profile-card">
        <h3>💼 Work Information</h3>
        <div class="info-row">
            <span>Employee ID</span>
            <strong>{{ profile.emp_id }}</strong>
        </div>
        <div class="info-row">
            <span>Date of Joining</span>
            <strong>{{ profile.date_joined }}</strong>
        </div>
        <div class="info-row">
            <span>Status</span>
            <span class="status-badge">Active</span>
        </div>
    </div>

</div>

{% endblock %}